<p>Hi</p>

<p>We have received your recent aquiring password request</p>
<p>Here your new password: {{password}}</p>
<p>You can change your password again once logged onto website and head over to
  the change password session</p>

<p>For more detailed information you can always return to our website. If you
  have any questions or concerns, feel free to reach out.</p>
<p>Thank you for your commitment to our community!</p>
<p>Cheers! From IT-Mentor Community</p>