.personal-info-page {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

label {
  width: 30%;
  font-size: 14px;
  color: #212529;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: unset;
}

.email {
  width: 50%;
  padding: 8px;
  display: inline-block;
}

.form-control {
  width: 50%;
  display: inline-block;
}

.avatar-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
