.container {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

input {
  outline: none;
}

.title {
  text-align: center;
  opacity: 0.7;
  text-transform: uppercase;
}

.title-input {
  width: 100%;
  font-size: 1.75rem;
}

.is-invalid {
  border-bottom: 1px solid #f1416c;
  background-image: unset;
}
