.header {
  background-color: var(--secondary);
  width: 100%;
  height: 70px;
}

.header .router-link {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.header .router-link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease-in-out;
}

.header .router-link:hover path,
.header .router-link-active .calender path {
  fill: #fff;
}

.header .router-link-active {
  line-height: 1.75rem;
  color: #fff;
  font-weight: 700;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 24rem;
  background-color: white;
  border-left-width: 1px;
  overflow-y: auto;
}

.sidebar .sidebar-header {
  /* flex items-center mb-8 bg-primaryColor px-6 */
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: var(--primary);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sidebar .router-link {
  display: block;
  padding: 1rem;
  color: var(--y-black-200);
  background-color: transparent;
  line-height: 1.75rem;
  font-weight: 700;
  border-radius: 0.75rem;
}

.sidebar .router-link.router-link-active,
.sidebar .router-link:hover {
  color: var(--primary);
  background-color: #d0dedb;
}

.dropdown:hover .dropdown-menu.dropdown-menu-end {
  display: block;
  margin-top: 0;
  right: 0;
  left: auto;
}

.select_user_box {
  width: 200px;
}

.select_user_box li {
  border-bottom: 1px solid #d0dedb;
  padding: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.select_user_box li a {
  color: black;
  text-decoration: none;
}

.select_user_box li:hover a {
  color: var(--primary);
}

.user-info .name {
  color: var(--primary);
  font-weight: 700;
  font-size: 15px;
}

.user-info a {
  color: var(--primary) !important;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
}
