.form-control.is-invalid {
  border-color: #f1416c;
  background-image: unset;
}

.form-group .el-range-editor.is-valid.el-tooltip__trigger.el-tooltip__trigger {
  box-shadow: 0 0 0 1px var(--el-color-danger) inset !important;
}

.error-message {
  color: #f1416c;
}

.form-group label {
  color: #555;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.form-group.required label:after {
  content: "*";
  color: red;
  margin-left: 3px;
}

.form-group.required .label:after {
  content: "*";
  color: red;
  margin-left: 3px;
}

.form-group .form-control::placeholder,
.el-input__inner::placeholder {
  color: #757575;
  opacity: 0.5;
}

.form-container .card {
  max-width: 500px;
  width: 500px;
}

.form-container .btn-sign-in {
  color: #139896;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 30px;
  background: rgba(178, 223, 219, 0.5);
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.form-container .btn-sign-in span {
  text-align: center;
  width: -webkit-fill-available;
}

.form-container .link {
  text-align: end;
  text-decoration: none;
  color: #139896;
}
