@import "variables";
@import "mixins";

custom table
th, tr {
  text-align: center !important;
}
td {
  border-top: none !important;
}
.table {
  border-collapse:separate; 
  border-spacing: 0 8px;
  // border-top: 1px solid $color-gray-lighter;
}
.table thead {
  position: sticky;
  top: 8px;
  z-index: 9;
  border-spacing: 0 !important;
}
.layer-block {
  background-color: $color-white;
  position: absolute;
  top: 49px;
  width: 99%;
  height: 8px;
  z-index: 12;
}

.table-overflow {
  @include custom-scrollbar();
}
.table thead th {
  border: none !important;
}
.table-striped > thead > tr {
  background-color: $bg-gray;
}
.table-striped > tbody > tr:nth-child(2n+1), .table-striped > tbody > tr:nth-child(2n+1) {
  background-color: $color-white;
  &:hover {
    background-color: $color-blue-hover !important;
  }
}
.table-striped > tbody > tr:nth-child(2n), .table-striped > tbody > tr:nth-child(2n) {
  background-color: $bg-gray;
  &:hover {
    background-color: $color-blue-hover !important;
  }
}

// Custom scroll bar default  
// ::-webkit-scrollbar {
//   width: 2px !important;
// }

// ::-webkit-scrollbar-track {
//   background: red !important;
// }

// ::-webkit-scrollbar-thumb {
//   background: #888 !important;
//   border-top: 2px solid #ccc !important;
//   border-bottom: 2px solid #ccc !important;
// }